<div class="container full-container">
  <div class="background-layer">
    <div class="row d-flex justify-content-center">
      <div class="shadow p-4 bg-white login-container">
        <form class="mt-3 bg-white" *ngIf="!registerMode">
    
          <!-- Logo -->
          <img src="../../assets/logo.jpg" style="width:50%;transform:translateX(50%);" class="mb-4">
  
          <h2 class="text-center mb-4">Online tracking and<br>control of leave</h2>
  
          <!-- Username Input -->
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user" style="display:inline-block;width:1.5rem;"></i></span>
            </div>
  
            <input type="text" name="username" value="" class="form-control" placeholder="Employee ID"  />
  
            <!-- echo the error from form validations -->
            <div class="invalid-feedback"></div>	
              
          </div>
  
          <!-- Password Input -->
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock" style="display:inline-block;width:1.5rem;"></i></span>
            </div>
  
            <input type="password" name="password" value="" class="form-control" placeholder="Password"  />
              
            <!-- echo the error from form validations -->
            <div class="invalid-feedback"></div>	
          </div>
  
          <!-- Login Button -->
          <div class="form-group d-flex justify-content-center">
            <button type="button" class="btn btn-info btn-block" (click)="login()">Login</button>
          </div>
  
          <p *ngIf="hasAdmin == false" class="text-center">Don't have an account?<br><a class="text-info pointer" (click)="register()">Register</a></p>

        </form>

        <form class="mt-3 bg-white" *ngIf="registerMode" #registerForm="ngForm">
    
          <!-- Logo -->
          <img src="../../assets/logo.jpg" style="width:50%;transform:translateX(50%);" class="mb-4">

          <h2 class="text-center mb-4">Register New User</h2>
  
          <!-- Username Input -->
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user" style="display:inline-block;width:1.5rem;"></i></span>
            </div>
  
            <input type="text" name="username" value="" class="form-control" 
              placeholder="Employee ID" required
              [(ngModel)]="model.username" #username="ngModel" />
  
            <!-- echo the error from form validations -->
            <div class="invalid-feedback"></div>	
              
          </div>
  
          <!-- Password Input -->
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock" style="display:inline-block;width:1.5rem;"></i></span>
            </div>
  
            <input type="password" name="password" value="" class="form-control" 
              placeholder="Password" name="username" required
              [(ngModel)]="model.password" #password="ngModel"/>
              
            <!-- echo the error from form validations -->
            <div class="invalid-feedback"></div>	
          </div>
          
  
          <!-- Register Button -->
          <div class="form-group d-flex justify-content-center">
            <button type="button" class="btn btn-info btn-block" (click)="registerUser()">Register</button>
          </div>
  
          <p class="text-center">Already have an account?<br><a class="text-info pointer" 
            (click)="loginMode()">Login</a></p>

        </form>

      </div>
    </div>
  </div>
</div>

